* {
  font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF" ;
  font-size: 14px;
}

window#waybar {
  margin: 5px;
  background: #181616;
  color: #CDD3DE;
 }

.modules-right {
  padding-left: 10px;
  margin-right: 20px;
}

#pulseaudio,
#network,
#tray {
	padding: 0 10px;	
}

#custom-spotify{
	margin-left: 15px;
}
#workspaces button {
    /* default text */
    color: #c5c9c5;            /* foreground */
    margin-right: 5px;
    padding-right: 0;
    padding-left: 0;
}

#workspaces button.active {
    /* active (focused in another monitor) */
    color: #C8C093;            /* active_tab_foreground */
}

#workspaces button.focused {
    /* this monitor + visible */
    color: #C8C093;            /* active_tab_foreground */
    background: #2D4F67;       /* selection_background */
    border-radius: 13px;
}

#workspaces button.persistent {
    /* sticky / always-open */
    color: #E6C384;            /* bright color11 */
}

#workspaces button.empty {
    /* no windows */
    color: #a6a69c;            /* inactive_tab_foreground / bright color8 */
}

#workspaces button.urgent {
    /* urgent (demanding attention) */
    color: #E46876;            /* bright color9 */
}
